
body {
  font-family: 'Cormorant Garamond', serif;
}

.menu-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 5rem;
}

.menu-description {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  color: #333;
}

.small-text {
  font-size: 1rem;
}

.menu-overlay {
  background-color: rgba(23, 23, 23, 0.954);
  padding: 2rem;
  border-radius: 12px;
}

.menu-item {
  color: #867337;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

.item {
    color: #b47414;
    letter-spacing: 1px;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }

.menu-page {
  background-image: url('/images/menu/charred-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.about-page {
  background-image: 
    linear-gradient(to bottom right, rgba(81, 81, 81, 0.9), rgba(0,0,0,0.9)),
    url('/images/backgroundgrad.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.content-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3rem;
  border-radius: 8px;
  color: #fff;
}

.menu-item {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;

  &:hover {
    color: #d4af37; 
    transform: scale(1.02);
  }


  &:hover::after {
    opacity: 1;
  }
}

.img-header {
  height: 300px; // sau height: 300px;
  overflow: hidden;
}

.img-about {
  height: 400px; // sau height: 300px;
  overflow: hidden;
}

.img-about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#headerContact {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 40%;
}

#headerAbout {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#headerCareers {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
}

.grayscale {
  filter: grayscale(100%);
}

#career {
  height: 350px; // sau height: 300px;
  overflow: hidden;
}

#career .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 20%;
}

#contact-info {
  font-family: 'sans-serif', serif;
  font-size: 1.25rem; 
  line-height: 1.6;
}