
body {
  font-family: 'Cormorant Garamond', serif;
}

.menu-title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 5rem;
}

.menu-description {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
  color: #333;
}

.small-text {
  font-size: 1rem;
}

.menu-overlay {
  background-color: rgba(23, 23, 23, 0.954);
  padding: 2rem;
  border-radius: 12px;
}

.menu-item {
  color: #867337;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: 'Playfair Display', serif;
}

.item {
    color: #862020eb;
    letter-spacing: 1px;
}

.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
  }

.menu-page {
  background-image: url('/images/menu/charred-background.webp');
  background-size: cover;
  background-position: center 68%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.about-page {
  background-image: url('/images/about-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.menu-item {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  font-family: 'Playfair Display', serif;

  &:hover {
    color: #d4af37; // aur la hover
    transform: scale(1.02);
  }


  &:hover::after {
    opacity: 1;
  }
}

// Responsive – ascunde iconul pe ecrane mici
@media (max-width: 576px) {
  .menu-item::after {
    display: none;
  }
}